.gallery-grid {
    display: grid;
    row-gap: 1.25rem;
    column-gap: 20px;
    grid-template-rows: 214px 214px 214px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    margin-bottom: 2rem;
    margin: 0 1rem;
    z-index: 1;
    transition: opacity .2s;
}

.gallery-page-container {
    padding: 0 3rem;
}

.elevated {
    z-index: 1000;
}