.gallery-grid {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 2rem;
    margin: 0 1rem;
    z-index: 1;
    transition: opacity .2s;
}

.gallery-page-container {
    padding: 0 3rem;
}

.elevated {
    z-index: 1000;
}

@media (min-width: 1700px) {
    .gallery-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 2000px) {
    .gallery-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 1350px) {
    .gallery-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1200px) {
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery-page-container {
        padding: 0 2rem;
    }
}

@media (max-width: 850px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-page-container {
        padding: 0 1rem;
    }
}

@media (max-width: 600px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}