.grid {
    display: grid;
    width: 100%;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    margin: 0 1rem;
    z-index: 1;
    transition: opacity .2s;
}

@media (min-width: 1700px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2000px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}