main {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h1 {
    text-align: start;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
}

.top-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#photonLogo {
    width: 4rem;
    height: 4rem;
}

@media screen and (max-width: 850px) {
    #photonLogo {
        width: 3rem;
        height: 3rem;
    }
}